:root {
    --animation-color: rgb(80, 60, 255);
}

body {
    text-align: center;
}

button {
    background-color: ;
    border: 5px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#grid-container {
    display: flex;
    aspect-ratio: 1 / 1;
    border: double black;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.grid-column>* {
    flex-basis: 100%;
}



@keyframes hover-color {
    0% {}

    100% {
        background-color: var(--animation-color);
    }
}

.grid-element {
    animation: hover-color 0.2s forwards;
    animation-play-state: paused;
}

.grid-element.shift-held:hover {
    animation-play-state: running;
}